div.root {
    height: 100vh;
}

div.main-menu {
    height: 32px;
}

div.diagram {
    height: calc(100% - 64px);
}

div.history {
    position: absolute;
    left: 0;
    bottom: 50px;
    width: 200px;
    height: 150px;
}

div.status-bar {
    height: 32px;
}
