div.root {
    text-align: center;
}

div.thumbnail {
    float: left;
    width: 200px;
    height: 122px;
    margin-right: 4px;
    margin-bottom: 4px;
    cursor: pointer;
    text-align: center;
}

div.thumbnail:hover {
    box-shadow: rgb(0 0 0 / 50%) 0px 0px 5px;
}

div.selected {
    box-shadow: rgb(0 0 0 / 50%) 0px 0px 5px;
}

div.thumbnail>img {
    width: 200px;
}

div.thumbnail>span {
    font-size: 14px;
}

img.loading {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

span.empty {
    top: 0;
    bottom: 0;
    margin: auto;
    font-style: italic;
    color: gray;
}
