<div class="root">
    <img *ngIf="loading" class="loading" src="/assets/ico/loading.gif" />
    <span *ngIf="showEmpty" class="empty">пусто</span>
    <div *ngFor="let availableDiagram of availableDiagrams"
        class="thumbnail"
        [class.selected]="selectedDiagram && availableDiagram.id === selectedDiagram.id"
        (click)="selectDiagram(availableDiagram)">
        <div><img [src]="availableDiagram.thumbnail" /></div>
        <span>{{ availableDiagram.title }}</span>
    </div>
</div>
