div.root {
    width: 350px;
    height: 400px;
}

div.container {
    height: 375px;
}

span.label {
    width: 90px;
    display: block;
    float: left;
}

div.input-title>input {
    width: 256px;
}

div.input-parent {
    margin-top: 8px;
}

div.input-parent>select {
    width: 260px;
}

div.input-methods {
    margin-top: 8px;
}

div.input-methods>select {
    width: 350px;
    height: 220px;
    padding: 1px;
    font-family: Consolas;
}

div.input-methods>input {
    width: 346px;
    margin-top: 8px;
}

div.buttons {
    float: right;
    width: 158px;
}

div.button-ok {
    float: left;
    margin-right: 8px;
}

div.button-ok>button {
    width: 75px;
    height: 22px;
}

div.button-cancel>button {
    width: 75px;
    height: 22px;
}
