<div class="root">
    <div class="container">
        <div class="input-title">
            <span class="label">Название</span>
            <input type="text" [value]="title" (input)="title = $event.target.value" />
        </div>
        <div class="input-parent">
            <span class="label">Наследует</span>
            <select (change)="onParentChange($event.target.value)">
                <option value="0">-- не выбран --</option>
                <option *ngFor="let parent of availableParents" [value]="parent.id" [selected]="parent.id == newParent.id">{{ parent.title }}</option>
            </select>
        </div>
    </div>
    <div class="buttons">
        <div class="button-ok"><button [mat-dialog-close]="true">OK</button></div>
        <div class="button-cancel"><button mat-dialog-close>Отмена</button></div>
    </div>
</div>
