div.root {
    width: 350px;
    height: 400px;
}

div.container {
    height: 375px;
}

span.label {
    width: 90px;
    display: block;
    float: left;
}

div.input-title>input {
    width: 250px;
}

div.input-parent {
    margin-top: 8px;
}

div.input-parent>select {
    width: 254px;
}

div.buttons {
    float: right;
    width: 158px;
}

div.button-ok {
    float: left;
    margin-right: 8px;
}

div.button-ok>button {
    width: 75px;
    height: 22px;
}

div.button-cancel>button {
    width: 75px;
    height: 22px;
}
