div.root {
    width: 860px;
}

div.filter {
    margin-bottom: 16px;
}

input.filter-title {
    width: 350px;
    height: 20px;
}

select.sort {
    display: block;
    float: right;
    width: 225px;
    height: 24px;
}

div.diagram-selector {
    height: 520px;
    overflow-y: scroll;
    margin: auto;
    margin-bottom: 32px;
    padding: 4px;
}

div.status-bar {
    height: 22px;
}

div.selected-diagram-title {
    height: 20px;
    margin-bottom: 8px;
}

span.selected-diagram-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 850px;
    display: inline-block;
}

div.pagenator {
    float: left;
}

div.buttons {
    float: right;
    width: 158px;
    height: 100%;
}

div.button-ok {
    float: left;
    margin-right: 8px;
}

div.button-ok>button {
    width: 75px;
    height: 22px;
}

div.button-cancel>button {
    width: 75px;
    height: 22px;
}
