<div class="root">
    <div class="filter">
        <input type="text" class="filter" [value]="filterTitle" (input)="filterTitleChange($event.target.value)" [placeholder]="filterTitlePlaceholder" />
    </div>
    <div class="diagram-selector">
        <app-diagram-selector
            [availableDiagrams]="availableDiagrams"
            [availableDiagramsLoading]="availableDiagramsLoading"
            (selectedDiagramChange)="selectDiagram($event)"></app-diagram-selector>
    </div>
    <div class="selected-diagram-title">
        <span class="selected-diagram-title">Выбрана: {{ selectedDiagram ? selectedDiagram.title : '---' }}</span>
    </div>
    <div class="status-bar">
        <div class="pagenator">
            <app-pagenator
                [maxDisplayPagesCount]="5"
                [pageSize]="pageSize"
                [totalItemsCount]="totalDiagramsCount"
                [pageNumber]="pageNumber"
                (pageNumberChange)="pageNumberChange($event)"></app-pagenator>
        </div>
        <div class="buttons">
            <div class="button-ok"><button [mat-dialog-close]="true" [disabled]="!okEnable">Выбрать</button></div>
            <div class="button-cancel"><button mat-dialog-close>Закрыть</button></div>
        </div>
    </div>
</div>
