div.root {
    position: absolute;
    z-index: 3;
}

div.item {
    position: relative;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 50%) 0px 0px 5px;
    background-color: rgb(209, 227, 255);
}

div.selected {
    background-color: rgb(255, 234, 209);
}

div.title {
    width: 100%;
    height: 12px;
    text-align: center;
}

span.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: bold;
}

a.edit {
    cursor: pointer;
}

img.edit {
    float: right;
    width: 16px;
    height: 16px;
}

div.methods {
    margin: 8px;
}

div.methods>ul {
    font-family: 'Courier New', Courier, monospace;
    font-size: 10pt;
    white-space: nowrap;
    overflow: hidden;
}

div.methods>ul>li {
    list-style-type: none;
}

div.resize {
    position: absolute;
    z-index: 1;
    width: 5px;
    height: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(50, 50, 50);
    background-color: darkgrey;
}

div.up-left {
    top: 0;
    left: 0;
    cursor: nw-resize;
}

div.up-middle {
    top: 0;
    left: calc(50% - 2.5px);
    cursor: ns-resize;
}

div.up-right {
    top: 0;
    right: 0;
    cursor: sw-resize;
}

div.middle-left {
    top: calc(50% - 2.5px);
    left: 0;
    cursor: w-resize;
}

div.middle-right {
    top: calc(50% - 2.5px);
    right: 0;
    cursor: w-resize;
}

div.down-left {
    bottom: 0;
    left: 0;
    cursor: sw-resize;
}

div.down-middle {
    bottom: 0;
    left: calc(50% - 2.5px);
    cursor: ns-resize;
}

div.down-right {
    bottom: 0;
    right: 0;
    cursor: nw-resize;
}

.hide {
    display: none;
}
