<div class="root"
    [style.left.px]="item.position.x - 5"
    [style.top.px]="item.position.y - 5"
    [style.width.px]="item.size.width + 10"
    [style.height.px]="item.size.height + 10">
    <div class="item"
        [style.left.px]="5"
        [style.top.px]="5"
        [style.width.px]="item.size.width"
        [style.height.px]="item.size.height"
        [class.selected]="item.isSelected"
        (mousedown)="onMouseDown()"
        (dblclick)="onMouseDoubleClick()">
        <div class="edit noselect"><a class="edit" (click)="editItem()"><img class="edit" src="/assets/ico/edit.png" /></a></div>
        <div class="title noselect">
            <span class="title">{{ item.title }}</span>
        </div>
    </div>
    <div [class.hide]="item.isSelected == false">
        <div class="resize up-left" (mousedown)="onResizeMouseDown(resize.upLeft)"></div>
        <div class="resize up-middle" (mousedown)="onResizeMouseDown(resize.upMiddle)"></div>
        <div class="resize up-right" (mousedown)="onResizeMouseDown(resize.upRight)"></div>
        <div class="resize middle-left" (mousedown)="onResizeMouseDown(resize.middleLeft)"></div>
        <div class="resize middle-right" (mousedown)="onResizeMouseDown(resize.middleRight)"></div>
        <div class="resize down-left" (mousedown)="onResizeMouseDown(resize.downLeft)"></div>
        <div class="resize down-middle" (mousedown)="onResizeMouseDown(resize.downMiddle)"></div>
        <div class="resize down-right" (mousedown)="onResizeMouseDown(resize.downRight)"></div>
    </div>
</div>
