div.segment {
    position: absolute;
    background-color: rgb(209, 227, 255);
    box-shadow: rgb(0 0 0 / 50%) 0px 0px 5px;
}

div.arrow {
    position: absolute;
    color: rgb(209, 227, 255);
    text-shadow: rgb(0 0 0 / 50%) 0px 0px 5px;
    cursor: default;
}

div.cap {
    position: absolute;
    color: rgb(209, 227, 255);
    text-shadow: rgb(0 0 0 / 50%) 0px 0px 5px;
    cursor: default;
}

div.selected-segment {
    background-color: rgb(255, 234, 209);
    z-index: 1;
}

div.selected {
    z-index: 1;
}

span.selected {
    color: rgb(255, 234, 209);
}
