<div class="root">
    <div class="segment-line"
        *ngFor="let line of lines"
        [style.left.px]="line.position.x"
        [style.top.px]="line.position.y"
        [style.width.px]="line.size.width"
        [style.height.px]="line.size.height">
    </div>
    <div class="segment-arrow"
        *ngIf="arrowDown"
        [style.left.px]="arrowDown.position.x"
        [style.top.px]="arrowDown.position.y">
        <span>▼</span>
    </div>
    <div class="segment-arrow"
        *ngIf="arrowUp"
        [style.left.px]="arrowUp.position.x"
        [style.top.px]="arrowUp.position.y">
        <span>▲</span>
    </div>
</div>
